<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="container mt-4">
  <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" id="email" formControlName="email" class="form-control">
      <div *ngIf="passwordForm.get('email')?.invalid && (passwordForm.get('email')?.dirty || passwordForm.get('email')?.touched)" class="text-danger">
          <div *ngIf="passwordForm.get('email')?.errors?.['required']">
              El correo electrónico es obligatorio.
          </div>
          <div *ngIf="passwordForm.get('email')?.errors?.['email']">
              El correo electrónico no es válido.
          </div>
      </div>
  </div>
  <div class="mb-3">
      <label for="currentPassword" class="form-label">Contraseña actual</label>
      <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control">
      <div *ngIf="passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)" class="text-danger">
          <div *ngIf="passwordForm.get('currentPassword')?.errors?.['required']">
              La contraseña actual es obligatoria.
          </div>
      </div>
  </div>
  <div class="mb-3">
      <label for="newPassword" class="form-label">Nueva contraseña</label>
      <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
      <div *ngIf="passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)" class="text-danger">
          <div *ngIf="passwordForm.get('newPassword')?.errors?.['required']">
              La nueva contraseña es obligatoria.
          </div>
          <div *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
              La nueva contraseña debe tener al menos 8 caracteres.
          </div>
          <div *ngIf="passwordForm.get('newPassword')?.errors?.['pattern']">
              La nueva contraseña debe contener al menos una letra minúscula, una letra mayúscula, un número y un carácter especial.
          </div>
      </div>
  </div>
  <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
      <div *ngIf="passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)" class="text-danger">
          <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">
              La confirmación de la contraseña es obligatoria.
          </div>
          <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['notSame']">
              Las contraseñas no coinciden.
          </div>
      </div>
  </div>
 
 <div></div>
 <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Cambiar contraseña</button>
</form>